<!DOCTYPE html>
<html>
<head>
  <title>Michaelcalhoun.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap-header" class="wrap">
    <section>
      <h1>Michael (Mike) Calhoun</h1>
      <p>&copy;<%= Time.now.year %>&nbsp;Mike Calhoun</p>
    </section>
  </div>

  <div id="wrap-content" class="wrap">
    <section>
      <%= yield %>
    </section>
  </div>
</body>
</html>
