<!DOCTYPE html>
<html>
<head>
  <title>Michaelcalhoun.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap-header" class="wrap">
    <section>
      <h1>Michael (Mike) Calhoun</h1>
    </section>
  </div>

  <div id="wrap-content" class="wrap">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    
    <section>
      <%= yield %>
    </section>
  </div>
</body>
</html>
